- arguments ||= []
- uid = "#{SecureRandom.hex(3)}"
.endpoint-wrapper
  .summary{ "data-expander" => "target:##{uid}" }
    .endpoint-method
      %span.method= method

    .endpoint-path
      %span.type= path

  .example(data-endpoint-example){id: uid}
    = form_tag path, method: method, remote: true do
      - if arguments.present?
        - Array(arguments).each do |arg|
          .field
            .input-label= label_tag arg, arg
            .input= text_field_tag arg
      - else
        /TODO: the ability to add an arbitrary text area field
      .actions
        = submit_tag method, class: 'button tiny'

    %pre.response.language-javascript
      %code

