.row
  .medium-6.columns.push-3
    %h2.text-center Send an SMS

    - if @message.errors.present?
      #error_explanation
        %ul
          - @message.errors.full_messages.each do |msg|
            %li= msg
    = form_for @message do |f|
      .field
        = f.label :to
        = f.phone_field :to
      .field
        = f.label :text
        = f.text_area :text, rows: 2, maxlength: 160

      .actions
        = f.submit "Send", class: 'button'
