%h1#kitchen-sink Kitchen sink
%h3.subheader This page includes every single Foundation element so that we can make sure things work together smoothly.

= render partial: "kitchensink/alert_box"

= render partial: "kitchensink/block_grid"

= render partial: "kitchensink/breadcrumbs"

= render partial: "kitchensink/buttons"

= render partial: "kitchensink/button_groups"

= render partial: "kitchensink/dropdown_buttons"

= render partial: "kitchensink/split_buttons"

= render partial: "kitchensink/forms"

= render partial: "kitchensink/dropdowns"

= render partial: "kitchensink/inline_lists"

= render partial: "kitchensink/keystroke"

= render partial: "kitchensink/labels"

= render partial: "kitchensink/magellan_sticky_nav"

= render partial: "kitchensink/pagination"

= render partial: "kitchensink/panels"

= render partial: "kitchensink/pricing_tables"

= render partial: "kitchensink/progress_bars"

= render partial: "kitchensink/reveal_modals"

= render partial: "kitchensink/sliders"

= render partial: "kitchensink/accordion"

= render partial: "kitchensink/tabs"

= render partial: "kitchensink/side_nav"

= render partial: "kitchensink/sub_nav"

= render partial: "kitchensink/tables"

= render partial: "kitchensink/thumbnails"

= render partial: "kitchensink/tooltips"

= render partial: "kitchensink/top_bar"

= render partial: "kitchensink/type"

= render partial: "kitchensink/lists"