:markdown
  # Lapses

  A quick description of what a lapse is and when/how it's used.

= render 'documentation/lapses/lapse'
= render 'documentation/lapses/create'
= render 'documentation/lapses/show'
= render 'documentation/lapses/update'
= render 'documentation/lapses/destroy'
= render 'documentation/lapses/index'